body {
    color: #ffffff;
    background: linear-gradient(#363946, #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer {
position: fixed;
left:0;
bottom: 0;
width: 100%;
background-color: #0000003f;
color: #ffffff;
text-align: center;
}

/* 
#000000 black
#363946 Onyx
#696773 DimGray
#819595 CadetGray
#B1B6A6 AshGray */